.wrapper-doodle {
  position: absolute;
  bottom: 40px;
  @include responsive-sm {
    bottom: 52px;
  }

  .doodle {
    position: absolute;
    display: block;
    height: 50px;
    min-width: 140px;
    border-radius: 50%;
    border: 2px solid $color-red;
    transform: rotate(-6deg);
    @include responsive-sm {
      height: 60px;
      width: 250px;
    }
  }

  .doodle--01 {
    top: -10%;
    left: -7px;
    @include responsive-sm {
      left: -10px;
    }
  }

  .doodle--02 {
    border-right: 4px solid $color-red;
    border-left: 4px solid $color-red;
    top: -10%;
    left: -2px;
    @include responsive-sm {
      left: 10px;
    }
    display: flex;
    &::before {
      content: 'pessoas';
      margin-top: 6px;
      margin-left: 18px;
      display: inline-block;
      transform: rotate(4deg);
    }
  }

  .doodle--03 {
    border-right: 4px solid $color-red;
    border-left: 4px solid $color-red;
    top: -10%;
    border-radius: 50%;
    border: 2px solid $color-red;
    border-top: 0;
    border-left: 0;
    left: 10px;
    display: block;
    @include responsive-sm {
      left: 00px;
    }
  }
}
