@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham-6-cufonfonts/GothamLight.otf);
}

@font-face {
  font-family: GothamBold;
  src: url(../fonts/gotham-6-cufonfonts/GothamBold.otf);
}

@font-face {
  font-family: networkfree;
  src: url(../fonts/NetworkFreeVersion.ttf);
}

