@font-face {
  font-family: Gotham;
  src: url(../fonts/GothamLight.otf);
}

@font-face {
  font-family: GothamBold;
  src: url(../fonts/GothamBold.otf);
}

@font-face {
  font-family: networkfree;
  src: url(../fonts/NetworkFreeVersion.ttf);
}

