.footer {
  .footer__local {
    padding: 1rem 24px;
    background: #222222;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      @include text-default;
      letter-spacing: initial;
      font-family: networkfree;
      text-transform: lowercase;
      font-size: 2rem;
    }

    .line {
      height: 1px;
      width: 140px;
      background: #ffffff;
    }
  }

  .footer__social {
    padding: 0;
    background: $color-red;
    @include responsive-md {
      padding: 0 24px;
    }

    .footer__social__container {
      display: grid;
      grid-template-areas:
        'social social w-logo'
        'w-email w-email w-logo';
      justify-content: space-between;
      @include responsive-sm {
        grid-template-areas: 'social  w-email w-logo';
      }
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1rem;
      grid-area: social;
      margin: 0.4rem auto auto;
      @include responsive-sm {
        margin: auto auto auto 0;
      }
    }

    .wrapper-email {
      background-image: url(../images/decoration02.webp);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      width: 240px;
      min-height: 40px;
      font-size: $font-small;
      grid-area: w-email;
      margin: auto auto 0.4rem;
      font-weight: 500;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
      @include responsive-sm {
        margin: auto;
      }
    }

    .wrapper-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 70px;
      height: 100%;
      width: 140px;
      max-width: 80px;
      background: #e5e1db;
      margin: auto;
      grid-area: w-logo;
      @include responsive-sm {
        margin-right: 0;
        max-width: initial;
      }
      .logo {
        width: 40px;
        margin: auto;
      }
    }
  }
}
