@import './doodle';

.home {
  padding: 0 24px;
  position: relative;
  background: $color-black;
  z-index: 2;

  .background-smoke {
    position: absolute;
    right: 0;
    bottom: 0%;
    height: 72%;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bg-fumaca.png);
    z-index: -1;
  }

  .grid-layout {
    .home__content {
      display: flex;
      justify-content: space-between;
      height: calc(100vh - 230px);
      @include responsive-md {
        height: 100vh;
      }

      .home__intro {
        display: grid;
        grid-template-rows: 4px 1fr;

        .text {
          position: relative;
          margin: auto 0;
          @include text-default;
          font-size: $font-small;
          line-height: 3rem;
          @include responsive-sm {
            font-size: $font-large;
            line-height: 4rem;
            letter-spacing: 1.8rem;
          }
          .bold {
            font-family: GothamBold;
          }
        }
      }

      .logo {
        margin: auto 0;
        height: 45vh;
        max-height: 70rem;
        @include responsive-sm {
          max-width: initial;
          height: 50vh;
        }
        @include responsive-md {
          height: 90vh;
        }
      }
    }
  }
}
