.video-area {
  background: $color-black;
  overflow-x: auto;
  padding: 4rem 0;
  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    min-width: 1130px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 2.4fr) 3fr repeat(2, 2.4fr);
    gap: 4rem;

    .wrapper-video {
      border: 1px #df3636 solid;
      display: flex;
      align-items: center;
      min-height: 500px;
      height: 7 0vh;
      @media (min-width: 1600px) {
        min-height: 700px;
      }
      background-image: url(../images/bg-video.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .video {
      display: none;
    }

    .decoration {
      border: 1px solid #ffffff;
      height: 80%;
      margin: auto 0;
    }

    .decoration--01 {
      background-image: url(../images/decoration01.png);
      background-size: cover;
    }

    .decoration--02 {
      padding: 1.4rem 0.8rem;
      background-image: url(../images/decoration02.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-origin: content-box;
      display: flex;
      &::after {
        content: url(../images/test.png);
        display: flex;
        align-items: end;
        margin: auto 2rem -5rem auto;

      }
    }

    .decoration--03 {
      display: flex;
      break-after: always;

      &::before {
        content: 'Conheça \a Nossa \00a0\00a0\00a0\00a0\00a0\00a0'  url(../images/for-your.png);
        @include text-default;
        font-family: GothamBold;
        font-size: 1.4rem;
        letter-spacing: 1.4rem;
        margin-left: -2rem;
        color: #df3636;
        display: flex;
        align-items: center;
      }
    }

    .decoration--04 {
      background-image: url(../images/decoration04.png);
      background-size: cover;
    }
  }

  .square-decoration {
    height: 65vh;
    width: 100%;
    max-width: 300px;
    @media (min-width: 992px) {
      display: initial;
      max-width: initial;
    }
  }

  .square-decoration--01 {
    margin-left: -2px;
    background-image: url(../images/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  .square-decoration--02 {
    position: relative;
    padding-top: 10px;
    text-align: center;

    .arrow {
      position: absolute;
      width: 100px;
      bottom: -40px;
      right: 40px;
      filter: brightness(0) invert(1);
    }

    img {
      width: 90%;
    }
  }

  .square-decoration--03 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
      margin-left: -17px;
      color: #df3636;
    }
  }

  .square-decoration--04 {
    margin-right: -2px;
    border-left: none;
    background-image: url(../images/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
  }
}
