.video-area {
  background: $color-black;
  overflow-x: auto;
  padding: 4rem 0;
  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    min-width: 1130px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 2.4fr) 3fr repeat(2, 2.4fr);
    gap: 4rem;

    .wrapper-video {
      border: 1px #df3636 solid;
      display: flex;
      align-items: center;
      height: 70vh;
      background-image: url(../images/bg-video.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .video {
      display: none;
    }

    .decoration {
      border: 1px solid #ffffff;
      height: 80%;
      margin: auto 0;
    }

    .decoration--01 {
      background-image: url(../images/decoration01.png);
      background-size: cover;
    }

    .decoration--02 {
      padding: 1.4rem 0.8rem;
      background-image: url(../images/decoration02.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-origin: content-box;
      display: flex;
      &::after {
        content: url(../images/test.png);
        display: flex;
        align-items: end;
        margin: auto 2rem -5rem auto;
      }
    }

    .decoration--03 {
      display: flex;
      break-after: always;
      &::before {
        content: 'Conheça \a Nossa'  url(../images/for-your.png);
        max-width: 100px;
        @include text-default;
        font-size: 1.4rem;
        font-family: GothamBold;
        color: $color-red;
        letter-spacing: 1.4rem;
        line-height: 3.8rem;
        margin-left: -2rem;
        display: flex;
        align-items: center;
      }
    }

    .decoration--04 {
      background-image: url(../images/decoration04.png);
      background-size: cover;
    }
  }
}
