.we-mobile {
  text-align: end;
  padding: 6rem 24px;
  background: $color-gray;
  @media (min-width: 768px) {
    display: none;
  }

  .we-mobile__artilce {
    .title,
    .text {
      @include text-default;
      font-size: 1.2rem;
      margin-right: -0.4rem;
    }

    .title {
      font-family: GothamBold;
      margin-bottom: 2rem;
      color: $color-red;
    }

    .text {
      letter-spacing: 0.4rem;
    }
  }
}