@import './reset', './fonts', './variables', './home', './nav',
  './about-mobile', './_footer', './icons', './video-area';

.grid-layout {
  @include grid-layout;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: $color-black;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-red;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $color-red;
  }
}
