@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strong,
b, u, i, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/GothamLight.otf);
}
@font-face {
  font-family: GothamBold;
  src: url(../fonts/GothamBold.otf);
}
@font-face {
  font-family: networkfree;
  src: url(../fonts/NetworkFreeVersion.ttf);
}
.wrapper-doodle {
  position: absolute;
  bottom: 40px;
}
@media screen and (min-width: 576px) {
  .wrapper-doodle {
    bottom: 52px;
  }
}
.wrapper-doodle .doodle {
  position: absolute;
  display: block;
  height: 50px;
  min-width: 140px;
  border-radius: 50%;
  border: 2px solid #fb3d3d;
  transform: rotate(-6deg);
}
@media screen and (min-width: 576px) {
  .wrapper-doodle .doodle {
    height: 60px;
    width: 250px;
  }
}
.wrapper-doodle .doodle--01 {
  top: -10%;
  left: -7px;
}
@media screen and (min-width: 576px) {
  .wrapper-doodle .doodle--01 {
    left: -10px;
  }
}
.wrapper-doodle .doodle--02 {
  border-right: 4px solid #fb3d3d;
  border-left: 4px solid #fb3d3d;
  top: -10%;
  left: -2px;
  display: flex;
}
@media screen and (min-width: 576px) {
  .wrapper-doodle .doodle--02 {
    left: 10px;
  }
}
.wrapper-doodle .doodle--02::before {
  content: "pessoas";
  margin-top: 6px;
  margin-left: 18px;
  display: inline-block;
  transform: rotate(4deg);
}
.wrapper-doodle .doodle--03 {
  border-right: 4px solid #fb3d3d;
  border-left: 4px solid #fb3d3d;
  top: -10%;
  border-radius: 50%;
  border: 2px solid #fb3d3d;
  border-top: 0;
  border-left: 0;
  left: 10px;
  display: block;
}
@media screen and (min-width: 576px) {
  .wrapper-doodle .doodle--03 {
    left: 0px;
  }
}

.home {
  padding: 0 24px;
  position: relative;
  background: #000000;
  z-index: 2;
}
.home .background-smoke {
  position: absolute;
  right: 0;
  bottom: 0%;
  height: 72%;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg-fumaca.png);
  z-index: -1;
}
.home .grid-layout .home__content {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 230px);
}
@media screen and (min-width: 768px) {
  .home .grid-layout .home__content {
    height: 100vh;
  }
}
.home .grid-layout .home__content .home__intro {
  display: grid;
  grid-template-rows: 4px 1fr;
}
.home .grid-layout .home__content .home__intro .text {
  position: relative;
  margin: auto 0;
  font-family: Gotham;
  font-size: 1.6rem;
  letter-spacing: 0.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  line-height: 3rem;
}
@media screen and (min-width: 576px) {
  .home .grid-layout .home__content .home__intro .text {
    font-size: 1.6rem;
    line-height: 4rem;
    letter-spacing: 1.8rem;
  }
}
.home .grid-layout .home__content .home__intro .text .bold {
  font-family: GothamBold;
}
.home .grid-layout .home__content .logo {
  margin: auto 0;
  height: 45vh;
  max-height: 70rem;
}
@media screen and (min-width: 576px) {
  .home .grid-layout .home__content .logo {
    max-width: initial;
    height: 50vh;
  }
}
@media screen and (min-width: 768px) {
  .home .grid-layout .home__content .logo {
    height: 90vh;
  }
}

@media screen and (min-width: 992px) {
  .home__nav {
    display: initial;
    padding: 4rem 0rem 4rem;
    border-right: 0.2rem solid #fb3d3d;
  }
}
.home__nav .nav-list {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  top: 8rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  background: #000000;
  min-width: 220px;
  width: 30%;
  height: 50vh;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .home__nav .nav-list {
    position: initial;
    visibility: visible;
    opacity: 1;
    padding-right: 0.4rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
    width: initial;
    height: initial;
  }
}
.home__nav .nav-list .nav-list__item {
  width: calc(100% - 24px);
  padding: 2.8rem 0;
  margin-right: 24px;
  text-align: end;
  border-bottom: 1.5px solid #fb3d3d;
}
@media screen and (min-width: 992px) {
  .home__nav .nav-list .nav-list__item {
    margin: 0;
    padding: 0;
    text-align: end;
    border: none;
  }
  .home__nav .nav-list .nav-list__item:nth-child(1) a {
    color: #fb3d3d;
    font-family: GothamBold;
  }
}
.home__nav .nav-list .nav-list__item a {
  font-family: Gotham;
  font-size: 1.6rem;
  letter-spacing: 0.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  color: #e5e1db;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}
.home__nav .nav-list .nav-list__item a:hover {
  font-weight: bold;
  color: #fb3d3d;
}
.home__nav .oppen {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}
.home__nav .wrapper-icon-menu {
  position: absolute;
  top: 4rem;
  right: 2.4rem;
}
@media screen and (min-width: 992px) {
  .home__nav .wrapper-icon-menu {
    display: none;
  }
}
.home__nav .icon-menu {
  width: 50px;
  display: grid;
  gap: 8px;
  cursor: pointer;
}
.home__nav .icon-menu span {
  border-radius: 4px;
  height: 6px;
  background: #fb3d3d;
}
.home__nav .icon-menu span:nth-child(2) {
  width: 32px;
  margin: auto;
  margin-right: 0;
}

.about {
  position: relative;
  padding: 0 24px;
  background: linear-gradient(to right, #e5e1db 0%, #e5e1db calc(100% - 24px), #df3636 20%, #df3636 100%);
}
@media screen and (min-width: 992px) {
  .about {
    background: linear-gradient(to right, #e5e1db 0%, #e5e1db 50%, #df3636 50%, #df3636 100%);
  }
}
.about .about__content {
  display: grid;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about .about__content {
    grid-template-columns: 8fr minmax(300px, 5fr);
  }
}
.about .about__content .about__wrapper-text {
  display: flex;
  height: 100%;
  align-items: center;
  background: #e5e1db;
}
.about .about__content .about__wrapper-text .text {
  font-family: Gotham;
  font-size: 1.6rem;
  letter-spacing: 0.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  font-family: GothamBold;
  padding: 4rem 0;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #000;
}
.about .about__artilce {
  display: none;
}
@media screen and (min-width: 768px) {
  .about .about__artilce {
    position: relative;
    display: initial;
    text-align: end;
    background: #101010;
    padding: 4rem 2rem;
    font-family: Gotham;
    font-size: 1.6rem;
    letter-spacing: 0.8rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
  }
  .about .about__artilce .title {
    font-family: GothamBold;
    color: #fb3d3d;
    margin-bottom: 2.8rem;
  }
  .about .about__artilce .text {
    letter-spacing: 0.2rem;
  }
}
.about .arrow-decoration {
  display: initial;
  height: 200px;
  background-image: url(../images/arrow_b.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 60px;
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  background-size: contain;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .about .arrow-decoration {
    display: none;
  }
}
.about .arrow-decoration02 {
  display: none;
  top: 20%;
  bottom: 0;
  left: -48px;
  right: 0;
  background-size: contain;
  margin: 0;
  transform: rotate(322deg);
}
@media screen and (min-width: 768px) {
  .about .arrow-decoration02 {
    display: initial;
  }
}

.about-mobile {
  text-align: end;
  padding: 6rem 24px;
  background: #101010;
}
@media screen and (min-width: 768px) {
  .about-mobile {
    display: none;
  }
}
.about-mobile .about-mobile__artilce .title,
.about-mobile .about-mobile__artilce .text {
  font-family: Gotham;
  font-size: 1.6rem;
  letter-spacing: 0.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  margin-right: -0.4rem;
}
.about-mobile .about-mobile__artilce .title {
  font-family: GothamBold;
  margin-bottom: 2rem;
  color: #fb3d3d;
}
.about-mobile .about-mobile__artilce .text {
  letter-spacing: 0.4rem;
}

.video-area {
  background: #000000;
  overflow-x: auto;
  padding: 4rem 0;
}
.video-area::-webkit-scrollbar {
  display: none;
}
.video-area .container {
  min-width: 1130px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 2.4fr) 3fr repeat(2, 2.4fr);
  gap: 4rem;
}
.video-area .container .wrapper-video {
  border: 1px #df3636 solid;
  display: flex;
  align-items: center;
  height: 70vh;
  min-height: 500px;
  background-image: url(../images/bg-video.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.video-area .container .video {
  display: none;
}
.video-area .container .decoration {
  border: 2px solid rgba(255, 255, 255, 0.69);
  height: 85%;
  margin: auto 0;
}
.video-area .container .decoration--01 {
  background-image: url(../images/decoration01.png);
  background-size: cover;
  margin-left: -0.4rem;
}
.video-area .container .decoration--02 {
  padding: 1.4rem 0.8rem;
  background-image: url(../images/decoration02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  display: flex;
}
.video-area .container .decoration--02::after {
  content: url(../images/arrow-white.png);
  display: flex;
  align-items: end;
  margin: auto 2rem -5rem auto;
}
.video-area .container .decoration--03 {
  display: flex;
  break-after: always;
}
.video-area .container .decoration--03::before {
  content: "Conheça \aNossa" url(../images/for-your.png);
  max-width: 100px;
  font-family: Gotham;
  font-size: 1.6rem;
  letter-spacing: 0.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fb3d3d;
  letter-spacing: 1.4rem;
  line-height: 3.8rem;
  margin-left: -2rem;
  display: flex;
  align-items: center;
}
.video-area .container .decoration--04 {
  background-image: url(../images/decoration04.png);
  background-size: cover;
  margin-right: -0.4rem;
}

.footer .footer__local {
  padding: 1rem 24px;
  background: #222222;
}
.footer .footer__local div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-family: Gotham;
  font-size: 1.6rem;
  letter-spacing: 0.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: initial;
  font-family: networkfree;
  text-transform: lowercase;
  font-size: 2rem;
}
.footer .footer__local .line {
  height: 1px;
  width: 140px;
  background: #ffffff;
}
.footer .footer__social {
  padding: 0;
  background: #fb3d3d;
}
@media screen and (min-width: 768px) {
  .footer .footer__social {
    padding: 0 24px;
  }
}
.footer .footer__social .footer__social__container {
  display: grid;
  grid-template-areas: "social social w-logo" "w-email w-email w-logo";
  justify-content: space-between;
}
@media screen and (min-width: 576px) {
  .footer .footer__social .footer__social__container {
    grid-template-areas: "social  w-email w-logo";
  }
}
.footer .footer__social ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  grid-area: social;
  margin: 0.4rem auto auto;
}
@media screen and (min-width: 576px) {
  .footer .footer__social ul {
    margin: auto auto auto 0;
  }
}
.footer .footer__social .wrapper-email {
  background-image: url(../images/decoration02.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 240px;
  min-height: 40px;
  font-size: 1.2rem;
  grid-area: w-email;
  margin: auto auto 0.4rem;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
@media screen and (min-width: 576px) {
  .footer .footer__social .wrapper-email {
    margin: auto;
  }
}
.footer .footer__social .wrapper-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  height: 100%;
  width: 140px;
  max-width: 80px;
  background: #e5e1db;
  margin: auto;
  grid-area: w-logo;
}
@media screen and (min-width: 576px) {
  .footer .footer__social .wrapper-logo {
    margin-right: 0;
    max-width: initial;
  }
}
.footer .footer__social .wrapper-logo .logo {
  width: 40px;
  margin: auto;
}

.icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.icon--instagram {
  background-image: url(../images/instagram.png);
  filter: brightness(0%);
}

.icon--email {
  background-image: url(../images/icon-mail.png);
  filter: brightness(0%);
}

.icon--linkedin {
  background-image: url(../images/linkedin.png);
  filter: brightness(0%);
}

.icon--tiktok {
  background-image: url(../images/tiktok.png);
  filter: brightness(0%);
}

.icon--location {
  margin: auto;
  background-image: url(https://img.icons8.com/ios-filled/100/ffffff/marker.png);
  width: 10px;
  height: 10px;
}

.icon--email {
  background-image: url(https://img.icons8.com/ios-glyphs/100/null/secured-letter--v1.png);
  width: 15px;
  height: 15px;
}

.grid-layout {
  margin: auto;
  max-width: 1140px;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar-track {
  background: #000000;
}
body::-webkit-scrollbar-thumb {
  background: #fb3d3d;
}
body::-webkit-scrollbar-thumb:hover {
  background: #fb3d3d;
}

/*# sourceMappingURL=style.css.map */
