@import url(./fonts.css);

.grid-layout {
  margin: auto;
  max-width: 1140px;
}

/* Hero */
.hero {
  padding: 0 24px;
  position: relative;
  background: #000000;
  z-index: 2;
}

.hero__logo {
  margin-top: 2rem;
  height: 40vh;
}
@media (min-width: 540px) {
  .hero__logo {
    height: 60vh;
  }
}
@media (min-width: 768px) {
  .hero__logo {
    height: 90vh;
  }
}

/* Home */
.home {
  display: grid;
  grid-template-rows: 4px 1fr;
}

.home__text {
  margin: auto 0;
  font-size: 1.3rem;
  line-height: 2.2rem;
}
@media (min-width: 540px) {
  .home__text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 1.8rem;

    /* line-height: 4rem; */
  }
}
@media (min-width: 768px) {
  .home__text {
    font-size: 1.6rem;
    line-height: 4rem;
    letter-spacing: 1.8rem;
  }
}

.home__text--bold {
  font-family: GothamBold;
}
/* Nav */
.nav {
  position: relative;
}
@media (min-width: 992px) {
  .nav {
    display: initial;
    padding: 4rem 0rem 3rem;
    border-right: 0.2rem solid #fb3d3d;
  }
}

.nav-list {
  visibility: hidden;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
  background: #000000;
  width: 220px;
  height: 40vh;
  z-index: 10;
}
@media (min-width: 992px) {
  .nav-list {
    position: initial;
    visibility: visible;
    padding-right: 0.4rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
    width: initial;
    height: initial;
  }
}

.nav-list__item {
  width: 100%;
  text-align: end;
  border-bottom: 2px solid #df3636;
}
@media (min-width: 992px) {
  .nav-list__item {
    width: 100%;
    text-align: end;
    border: none;
  }
}

.nav-list__item a {
  color: #e5e1db;
  font-size: 1.2rem;
  text-decoration: none;
}

.icon-menu {
  width: 50px;
  display: grid;
  gap: 8px;
}

.icon-menu span {
  border-radius: 4px;
  height: 6px;
  background: #fb3d3d;
}

.icon-menu span:nth-child(2) {
  width: 32px;
  margin: auto;
  margin-right: 0;
}

/* Mission */
.mission {
  position: relative;
  padding: 0 24px;
  background: linear-gradient(
    to right,
    #e5e1db 0%,
    #e5e1db calc(100% - 24px),
    #df3636 20%,
    #df3636 100%
  );
}
@media (min-width: 992px) {
  .mission {
    background: linear-gradient(
      to right,
      #e5e1db 0%,
      #e5e1db 80%,
      #df3636 20%,
      #df3636 100%
    );
  }
}

.mission__wrapper-text {
  display: grid;
  align-items: center;
}
@media (min-width: 768px) {
  .mission__wrapper-text {
    grid-template-columns: 8fr minmax(300px, 5fr);
  }
}

.mission__artilce {
  display: none;
}
@media (min-width: 768px) {
  .mission__artilce {
    position: relative;
    display: initial;
    text-align: end;
    background: #101010;
    padding: 6rem 2rem;
  }
  .mission__artilce h3 {
    font-size: 1.2rem;
    font-family: GothamBold;
    margin-bottom: 2.8rem;
  }

  .mission__artilce p {
    font-size: 1.2rem;
  }
}

.mission__text {
  font-family: GothamBold;
  padding: 4rem 0;
  font-size: 1.2rem;
  line-height: 2.8rem;
  color: #000;
}

.main__container {
  display: flex;
  justify-content: space-between;
}

.main__text {
  margin: auto 0;
}

@media (min-width: 610px) {
  .main__text {
    letter-spacing: 1.6rem;
    line-height: 4rem !important;
  }
}

.mission-mobile {
  text-align: end;
  padding: 6rem 24px;
  background: #101010;
}

@media (min-width: 768px) {
  .mission-mobile {
    display: none;
  }
}

.mission-mobile__artilce__title {
  font-size: 1.2rem;
  font-family: GothamBold;
  margin-bottom: 2rem;
  margin-right: -0.8rem;
}
.mission-mobile__artilce__text {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  margin-right: -0.8rem;
}
.wrapper-icon-menu {
  position: absolute;
  margin-top: 2.2rem;
  right: 0;
}
@media (min-width: 992px) {
  .wrapper-icon-menu {
    display: none;
  }
}

/* ------ */

/* background */
.background {
  right: 0;
  bottom: 0%;
  height: 72%;
  width: 40%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg-fumaca.png);
}

.arrow-decoration01 {
  background-image: url(../images/arrow_b.png);
  background-repeat: no-repeat;
  display: block;
  width: 80px;
  height: 37px;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  background-size: contain;
  margin: auto;
}
@media (min-width: 768px) {
  .arrow-decoration01 {
    display: none;
  }
}

.arrow-decoration02 {
  height: 200px;
  display: none;
  top: 20%;
  bottom: 0;
  left: 12px;
  right: 0;
  background-size: contain;
  margin: 0;
  transform: rotate(322deg);
}
@media (min-width: 768px) {
  .arrow-decoration02 {
    display: initial;
  }
}